[core]
    excludesfile = ~/.gitignore

[pull]
    rebase = true

[push]
    default = simple

[rebase]
    autosquash = true
    autostash = true

[diff]
    algorithm = histogram
    mnemonicprefix = true

[log]
    date = format:%y-%m-%d %H:%M:%S

[alias]
    cloner = clone -v --recursive
    st = status -bs
    br = branch -av --list
    rem = remote show origin
    a = add --interactive
    aa = add -Av
    ci = commit
    ca = commit -a
    cam = commit --amend
    cs = commit -a -m 'squash! stub'
    co = checkout
    fe = fetch --all --prune --tags --recurse-submodules=on-demand
    ff = "!f(){ git fe && git update-ref refs/heads/${1:-'master'} refs/remotes/origin/${1:-'master'};};f"
    re = rebase --autosquash --autostash
    ri = !git re -i
    up = !git fe && git re --stat && git sup
    upm = !git fe && git re --stat origin/master && git sup
    pu = !git push --porcelain origin `git rev-parse --abbrev-ref HEAD`
    sup = submodule update --init --rebase --recursive
    upu = !git up && git pu
    l = log --format=format:'%C(yellow)%h %C(cyan)%ad %C(blue bold)%an%C(red bold)%d %C(white)%s'
    lt = !git l --all --graph
    ll = log --format=format:'%C(yellow)%H %C(red bold)%d%n%C(reset)Author: %C(cyan)%ad %C(blue bold)%an%C(reset)%C(blue) <%ae>%n%C(reset)Commit: %C(cyan)%cd %C(blue bold)%cn%C(reset)%C(blue) <%ce>%n%C(white bold)%s%n%C(reset)%w(0,4,4)%b'
    llt = !git ll --all --graph
    wc = !git ll --stat --no-merges
    wct = !git wc --all --graph
    rl = reflog --format=format:'%C(yellow)%h %C(cyan)%gd %C(blue bold)%gn%C(red)%d %C(white)%gs'
    rwc = reflog --stat --format=format:'%C(yellow)%H %C(red bold)%d%n%C(reset)Reflog: %C(cyan)%gd %C(blue bold)%gn%C(reset)%C(blue) <%ge>%n%C(white bold)%s%n%C(reset)%w(0,4,4)%b'
    d = diff
    dm = diff master
    dw = diff --color-words
    ds = diff --staged
    d1 = diff HEAD~
    d2 = diff HEAD~~
    d3 = diff HEAD~~~
    d4 = diff HEAD~~~~
    d5 = diff HEAD~~~~~
    d6 = diff HEAD~~~~~~
    d7 = diff HEAD~~~~~~~
    d8 = diff HEAD~~~~~~~~
    d9 = diff HEAD~~~~~~~~~
    g = grep -n
    gi = grep -n --ignore-case
    desc = describe --always --dirty
    r1 = reset HEAD~1
    r2 = reset HEAD~2
    r3 = reset HEAD~3
    r4 = reset HEAD~4
    r5 = reset HEAD~5
    r6 = reset HEAD~6
    r7 = reset HEAD~7
    r8 = reset HEAD~8
    r9 = reset HEAD~9
    r-a = rebase --abort
    r-c = rebase --continue
    r-s = rebase --skip
    all-reset = !git clean -df && git reset --hard
    all-clean = !git clean -dfx && git reset --hard
    s = show
    sl = stash list --format=format:'%C(yellow)%h %C(cyan)%ad%C(red bold)%d %C(white)%s'
    swc = stash list --stat --format=format:'%C(yellow)%H%C(reset): %C(cyan)%ad%C(reset) -> %C(cyan)%cd%C(red bold)%d%n%C(white bold)%s%n%C(reset)%w(0,4,4)%b'
    spop = stash pop
    sdrop = stash drop
    co-trivials = checkout-trivials
    dby = diff-trivials
    lby = log-by
    llby = log-long-by
    stof = status-of
    wcby = whatchanged-by

[url "https://github.com/"]
    pushinsteadof = "git://github.com/"
    pushinsteadof = "git@github.com:"

[tar "tar.xz"]
    command = xz -c

[tar "txz"]
    command = xz -c

[include]
    path = .gitconfig.local
