<settings>
  <setting name="AllowOnlyOneInstance">1</setting>
  <setting name="CloseOnEscape">0</setting>
  <setting name="CollapseServicesOnStart">1</setting>
  <setting name="DbgHelpPath">C:\Program Files (x86)\Windows Kits\8.1\Debuggers\x64\dbghelp.dll</setting>
  <setting name="DbgHelpSearchPath"></setting>
  <setting name="DbgHelpUndecorate">1</setting>
  <setting name="DisabledPlugins"></setting>
  <setting name="ElevationLevel">1</setting>
  <setting name="EnableCycleCpuUsage">1</setting>
  <setting name="EnableInstantTooltips">1</setting>
  <setting name="EnableKph">1</setting>
  <setting name="EnableNetworkResolve">1</setting>
  <setting name="EnablePlugins">1</setting>
  <setting name="EnableServiceNonPoll">0</setting>
  <setting name="EnableStage2">1</setting>
  <setting name="EnableWarnings">1</setting>
  <setting name="EnvironmentListViewColumns"></setting>
  <setting name="FindObjListViewColumns">0,152|1,100|2,200|3,80</setting>
  <setting name="FindObjWindowPosition">1469,536</setting>
  <setting name="FindObjWindowSize">550,420</setting>
  <setting name="FirstRun">0</setting>
  <setting name="Font"></setting>
  <setting name="ForceNoParent">0</setting>
  <setting name="HandleTreeListColumns">0,0,100|1,1,925|2,2,80</setting>
  <setting name="HandleTreeListSort">1,1</setting>
  <setting name="HiddenProcessesListViewColumns"></setting>
  <setting name="HiddenProcessesWindowPosition">400,400</setting>
  <setting name="HiddenProcessesWindowSize">520,400</setting>
  <setting name="HideDriverServices">0</setting>
  <setting name="HideOnClose">0</setting>
  <setting name="HideOnMinimize">0</setting>
  <setting name="HideOtherUserProcesses">0</setting>
  <setting name="HideSignedProcesses">0</setting>
  <setting name="HideUnnamedHandles">0</setting>
  <setting name="HighlightingDuration">3e8</setting>
  <setting name="IconMask">1</setting>
  <setting name="IconMaskList"></setting>
  <setting name="IconNotifyMask">c</setting>
  <setting name="IconProcesses">a</setting>
  <setting name="IconSingleClick">0</setting>
  <setting name="IconTogglesVisibility">1</setting>
  <setting name="LogEntries">200</setting>
  <setting name="LogListViewColumns">0,140|1,260</setting>
  <setting name="LogWindowPosition">0,0</setting>
  <setting name="LogWindowSize">450,500</setting>
  <setting name="MainWindowAlwaysOnTop">0</setting>
  <setting name="MainWindowOpacity">0</setting>
  <setting name="MainWindowPosition">3699,373</setting>
  <setting name="MainWindowSize">1168,1067</setting>
  <setting name="MainWindowState">3</setting>
  <setting name="MaxSizeUnit">2</setting>
  <setting name="MemEditBytesPerRow">10</setting>
  <setting name="MemEditGotoChoices"></setting>
  <setting name="MemEditPosition">450,450</setting>
  <setting name="MemEditSize">600,500</setting>
  <setting name="MemFilterChoices"></setting>
  <setting name="MemResultsListViewColumns"></setting>
  <setting name="MemResultsPosition">300,300</setting>
  <setting name="MemResultsSize">500,520</setting>
  <setting name="MemoryTreeListColumns">0,0,92|1,1,103|2,2,66|3,3,62|4,4,330|5,5,60|6,6,80|7,7,80|8,8,80|9,9,80</setting>
  <setting name="MemoryTreeListSort">0,1</setting>
  <setting name="MemoryListsWindowPosition">400,400</setting>
  <setting name="MemoryReadWriteAddressChoices"></setting>
  <setting name="MiniInfoWindowOpacity">0</setting>
  <setting name="MiniInfoWindowPinned">0</setting>
  <setting name="MiniInfoWindowPosition">200,200</setting>
  <setting name="MiniInfoWindowRefreshAutomatically">1</setting>
  <setting name="MiniInfoWindowSize">10,10</setting>
  <setting name="ModuleTreeListColumns">0,0,116|1,1,80|2,2,60|3,3,160</setting>
  <setting name="ModuleTreeListSort">0,1</setting>
  <setting name="NetworkTreeListColumns">0,0,192|1,1,120|2,2,47|3,3,120|4,4,50|5,5,45|6,6,77|7,7,80|8,14,77|+ProcessHacker.ExtendedTools+1,8,70|+ProcessHacker.ExtendedTools+2,11,70|+ProcessHacker.ExtendedTools+3,9,70|+ProcessHacker.ExtendedTools+4,12,70|+ProcessHacker.ExtendedTools+12,10,70|+ProcessHacker.ExtendedTools+13,13,70</setting>
  <setting name="NetworkTreeListSort">6,1</setting>
  <setting name="NoPurgeProcessRecords">0</setting>
  <setting name="PluginsDirectory">plugins</setting>
  <setting name="ProcessServiceListViewColumns"></setting>
  <setting name="ProcessTreeListColumns">0,0,222|1,1,50|2,5,45|4,23,84|12,25,84|17,26,109|19,31,76|22,2,26|23,27,45|24,28,45|25,30,45|26,29,45|27,11,92|28,13,67|32,3,76|33,6,89|34,7,90|35,8,89|46,4,100|47,22,100|48,9,100|51,33,100|52,34,51|53,32,70|57,10,91|58,12,91|70,24,70|+ProcessHacker.ExtendedTools+3,14,70|+ProcessHacker.ExtendedTools+4,16,70|+ProcessHacker.ExtendedTools+13,18,70|+ProcessHacker.ExtendedTools+14,20,70|+ProcessHacker.ExtendedTools+27,15,70|+ProcessHacker.ExtendedTools+28,17,70|+ProcessHacker.ExtendedTools+30,19,70|+ProcessHacker.ExtendedTools+31,21,70</setting>
  <setting name="ProcessTreeListSort">0,0</setting>
  <setting name="ProcPropPage">General</setting>
  <setting name="ProcPropPosition">3396,556</setting>
  <setting name="ProcPropSize">1056,600</setting>
  <setting name="ProgramInspectExecutables">peview.exe &quot;%s&quot;</setting>
  <setting name="PropagateCpuUsage">0</setting>
  <setting name="RunAsProgram"></setting>
  <setting name="RunAsUserName"></setting>
  <setting name="SampleCount">800</setting>
  <setting name="SampleCountAutomatic">1</setting>
  <setting name="ScrollToNewProcesses">0</setting>
  <setting name="SearchEngine">http://www.google.com/search?q=&quot;%s&quot;</setting>
  <setting name="ServiceListViewColumns"></setting>
  <setting name="ServiceTreeListColumns">0,0,212|1,1,180|2,5,110|3,3,70|4,4,95|5,2,50|8,6,192</setting>
  <setting name="ServiceTreeListSort">0,1</setting>
  <setting name="SessionShadowHotkey">106,2</setting>
  <setting name="ShowCommitInSummary">0</setting>
  <setting name="ShowCpuBelow001">0</setting>
  <setting name="StartHidden">0</setting>
  <setting name="SysInfoWindowAlwaysOnTop">0</setting>
  <setting name="SysInfoWindowOneGraphPerCpu">1</setting>
  <setting name="SysInfoWindowPosition">1795,443</setting>
  <setting name="SysInfoWindowSection">CPU</setting>
  <setting name="SysInfoWindowSize">765,673</setting>
  <setting name="ThinRows">0</setting>
  <setting name="ThreadTreeListColumns">0,,50|1,,45|2,,84|3,,408|4,,80|5,,100</setting>
  <setting name="ThreadTreeListSort">1,2</setting>
  <setting name="ThreadStackListViewColumns">0,30|1,300</setting>
  <setting name="ThreadStackWindowSize">1056,380</setting>
  <setting name="UpdateInterval">3e8</setting>
  <setting name="ColorNew">ff7f</setting>
  <setting name="ColorRemoved">283cff</setting>
  <setting name="UseColorOwnProcesses">1</setting>
  <setting name="ColorOwnProcesses">aaffff</setting>
  <setting name="UseColorSystemProcesses">1</setting>
  <setting name="ColorSystemProcesses">ffccaa</setting>
  <setting name="UseColorServiceProcesses">1</setting>
  <setting name="ColorServiceProcesses">ffffcc</setting>
  <setting name="UseColorJobProcesses">1</setting>
  <setting name="ColorJobProcesses">3f85cd</setting>
  <setting name="UseColorWow64Processes">1</setting>
  <setting name="ColorWow64Processes">8f8fbc</setting>
  <setting name="UseColorPosixProcesses">1</setting>
  <setting name="ColorPosixProcesses">8b3d48</setting>
  <setting name="UseColorDebuggedProcesses">1</setting>
  <setting name="ColorDebuggedProcesses">ffbbcc</setting>
  <setting name="UseColorElevatedProcesses">1</setting>
  <setting name="ColorElevatedProcesses">aaff</setting>
  <setting name="UseColorImmersiveProcesses">1</setting>
  <setting name="ColorImmersiveProcesses">cbc0ff</setting>
  <setting name="UseColorSuspended">1</setting>
  <setting name="ColorSuspended">777777</setting>
  <setting name="UseColorDotNet">1</setting>
  <setting name="ColorDotNet">ffde</setting>
  <setting name="UseColorPacked">1</setting>
  <setting name="ColorPacked">9314ff</setting>
  <setting name="UseColorGuiThreads">1</setting>
  <setting name="ColorGuiThreads">77ffff</setting>
  <setting name="UseColorRelocatedModules">1</setting>
  <setting name="ColorRelocatedModules">80c0ff</setting>
  <setting name="UseColorProtectedHandles">1</setting>
  <setting name="ColorProtectedHandles">777777</setting>
  <setting name="UseColorInheritHandles">1</setting>
  <setting name="ColorInheritHandles">ffff77</setting>
  <setting name="GraphShowText">1</setting>
  <setting name="GraphColorMode">0</setting>
  <setting name="ColorCpuKernel">ff00</setting>
  <setting name="ColorCpuUser">ff</setting>
  <setting name="ColorIoReadOther">ffff</setting>
  <setting name="ColorIoWrite">ff0077</setting>
  <setting name="ColorPrivate">77ff</setting>
  <setting name="ColorPhysical">ffff00</setting>
  <setting name="ProcessHacker.DotNetTools.AsmTreeListColumns"></setting>
  <setting name="ProcessHacker.ExtendedNotifications.EnableGrowl">0</setting>
  <setting name="ProcessHacker.ExtendedNotifications.LogFileName"></setting>
  <setting name="ProcessHacker.ExtendedNotifications.ProcessList">\i*</setting>
  <setting name="ProcessHacker.ExtendedNotifications.ServiceList">\i*</setting>
  <setting name="ProcessHacker.ExtendedServices.EnableServicesMenu">1</setting>
  <setting name="ProcessHacker.ExtendedTools.DiskTreeListColumns">0,0,149|1,1,519|2,2,74|3,3,81|4,4,81|5,5,67|6,6,26</setting>
  <setting name="ProcessHacker.ExtendedTools.DiskTreeListSort">4,2</setting>
  <setting name="ProcessHacker.ExtendedTools.EnableEtwMonitor">1</setting>
  <setting name="ProcessHacker.ExtendedTools.EnableGpuMonitor">1</setting>
  <setting name="ProcessHacker.ExtendedTools.GpuNodeBitmap">01000000</setting>
  <setting name="ProcessHacker.ExtendedTools.GpuLastNodeCount">f</setting>
  <setting name="ProcessHacker.NetAdapters.EnableNDIS">1</setting>
  <setting name="ProcessHacker.NetAdapters.InterfaceList"></setting>
  <setting name="ProcessHacker.NetworkTools.WindowPosition">0,0</setting>
  <setting name="ProcessHacker.NetworkTools.WindowSize">600,365</setting>
  <setting name="ProcessHacker.NetworkTools.PingWindowPosition">0,0</setting>
  <setting name="ProcessHacker.NetworkTools.PingWindowSize">420,250</setting>
  <setting name="ProcessHacker.NetworkTools.PingMaxTimeout">3e8</setting>
  <setting name="ProcessHacker.SbieSupport.SbieDllPath">C:\Program Files\Sandboxie\SbieDll.dll</setting>
  <setting name="ProcessHacker.ToolStatus.EnableToolBar">1</setting>
  <setting name="ProcessHacker.ToolStatus.EnableSearchBox">1</setting>
  <setting name="ProcessHacker.ToolStatus.EnableStatusBar">1</setting>
  <setting name="ProcessHacker.ToolStatus.ResolveGhostWindows">1</setting>
  <setting name="ProcessHacker.ToolStatus.StatusMask">d</setting>
  <setting name="ProcessHacker.ToolStatus.ToolbarDisplayStyle">1</setting>
  <setting name="ProcessHacker.ToolStatus.SearchBoxDisplayMode">0</setting>
  <setting name="ProcessHacker.UpdateChecker.PromptStart">1</setting>
  <setting name="ProcessHacker.UserNotes.DatabasePath">%APPDATA%\Process Hacker 2\usernotesdb.xml</setting>
  <setting name="ProcessHacker.WindowExplorer.ShowDesktopWindows">0</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowTreeListColumns">0,0,180|1,1,70|2,2,220|3,3,150</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowsWindowPosition">100,100</setting>
  <setting name="ProcessHacker.WindowExplorer.WindowsWindowSize">690,540</setting>
  <setting name="MemoryListViewColumns"></setting>
  <setting name="ProcessHacker.ToolStatus.SearchBoxDisplayStyle">1</setting>
  <setting name="ProcessHacker.ToolStatus.RebarDisplayLocation">0</setting>
  <setting name="ProcessHacker.Updater.PromptStart">1</setting>
  <setting name="ProcessHacker.ToolStatus.EnableWicImaging">1</setting>
</settings>
