@-moz-document domain("msdn.microsoft.com") {
div#body {
    max-width: none !important;
}

.breadCrumb {
	max-width: none;
}

h1.title {
    margin-bottom: 0;
}

#versionclick > :not(#vsPanel) {
	display: none;
}

.lw_vs {
    margin-bottom: 0 !important;
    float: right;
}

.lw_vs div {
    float: none;
}

#curversion {
    padding: 0.5em 0;
    text-align: right;
}

#vsPanel {
	display: block !important;
	min-width: 150px;
    position: static;
    float: right;
}

div[style='clear:both;'] {
    clear: none !important;
}

#mainSection {
    clear: none;
}

#MTPSTranslator {
	float: right;
    margin-bottom: 0;
}

.MTPSTranslatorTable {
    margin-top: 0;
    margin-bottom: 0;
}

td.TranslationAlertBox {
	display: none;
}

td.TranslationViewSwitcher {
	width: auto;
}

div.EditTranslation {
	display: none;
}

div.contentTableWrapper table {
    width: 100%;
}

div.contentTableWrapper tr:hover {
    background-color: #ffffcc;
}

th.iconColumn {
    width: 75px;
}

.sectionblock .alert {
    background-color: inherit;
    padding: 0 8px;
    border-left: solid 4px #eecccc;
    border-right: solid 4px #eecccc;
}

.sectionblock .alert td {
    background-color: #fff0f0;
    padding-top: 5px;
}

.SentenceHover {
	background-color: #ffddff !important;
}

.MTPopup {
	background-color: rgba(255, 224, 255, 0.9) !important;
}

.codeSnippetContainerCode {
    background-color: #f0f0f0;
}

.codeSnippetContainerCode * {
	font-family: 'Consolas' !important;
}

#standardRating {
	display: none !important;
}

}